{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class = "content-section">
        <form method = "POST">
            {% csrf_token %}  <!-- protect form from attacks. It's a requirement by python -->
            <fieldset class = "form-group"> <!--  creating a legend  -->
                <legend class = "border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-info" type = "submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock content %}
